
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.home-image {
  width: 100vw;
  height: 100vh;
  background-image: url('home.jpg'); /* ここに画像のパスを指定 */
  background-size: cover; /* 画像をコンテナにフィットさせつつ、引き延ばさない */
  background-position: left; /* 画像の中央を基準にトリミング */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  position: relative;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15%;
}

.title{
  color: white;
  font-size: 36px;
  padding-top: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.title:hover,.menu-list:hover{
  color: rgb(196, 204, 211);
}

.menu{
  display: flex;
  align-items: center;
  padding-top: 20px;
}


.menu-lists {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu-list {
  color: white;
  list-style: none;
  text-decoration: none;
  margin-right: 30%;
}

.home-main{
  font-size: 28px;
}

.catch-copy{
  position: absolute;
  top: 60%;
  right: 10%;
}

.catch-copy1, .catch-copy2{
  color: white;
}


.contents {
  height: 300px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 7, 14);
}

.content {
  position: relative;
  border: 1px solid rgb(0, 7, 14);
  width: 33vw;
  height: 300px;
  overflow: hidden;
}

.index-image, .search-image, .mypage-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.content:hover .index-image,
.content:hover .search-image,
.content:hover .mypage-image {
  transform: scale(1.05);
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.footer{
  background-color: rgb(0, 7, 14);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.footer-title{
  color: #E9E3DD;
  font-size: 12px;
}
