header{
  background-color: #502e2b;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-title{
  color: #E9E3DD;
  font-size: 36px;
}

.main{
  background-color: #ac5d49;
  height: 100vx;
  padding-bottom: 50px;
}



.search-piece{
  margin-top: 30px;
  display: flex;
  justify-content: center;

}

.search-piece-form{
  width: 800px;
  background-color: #E9E3DD;
  box-shadow: 0 10px 25px 0 rgba(27, 8, 8, 0.5);
  padding: 8px;
}

.search-piece-title{
  font-size: 32px;
  color: #E9E3DD;
  padding-left: 15px;
}

.search-piece-conditions{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  border: #3C0F0A;
}

.search-piece-condition{
  width: 50%;
  padding-top: 8px;
  height: 30px;
}

.search-piece-pulldown{
  height: 30px;
}

.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button-box{
  background-color: #502e2b;
  height: 40px;
  width: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button-text{
  color: #E9E3DD;
  font-size: 24px;
}
