/* .header{
  background-color: #502e2b;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #E9E3DD;
  text-align: center;
  padding: 10px 0;
  transition: all 0.2s ease; 
}

.header-title:hover {
  color: #502e2b;
  background-color: #E9E3DD;
} */

.search-page-image{
    width: 100vw;
    height: 100vh;
    background-image: url('violin.jpg'); /* ここに画像のパスを指定 */
    background-size: cover; /* 画像をコンテナにフィットさせつつ、引き延ばさない */
    background-position: left; /* 画像の中央を基準にトリミング */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    position: relative;
    overflow-y: auto;
}

.main{
  
  height: 100vx;
  padding-bottom: 50px;
}

.main-piece{
  display: flex;
  justify-content: center;
  
}

.main-piece-title{
  font-size: 32px;
  color: white;
  margin-top: 80px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main-piece-form{
  width: 800px;
  height: 150px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.main-piece-conditions{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

li{
  list-style: none;
  color: #3C0F0A;
}

.main-piece-pulldown{
  height: 25px;
  font-size: 15px;
}

.main-piece-name{
  font-size: 24px;
  color: #3C0F0A;
  margin-top: 20px;
  margin-left: 40px;
}

.main-form-title{
  font-size: 32px;
  color: white;
  padding-top: 80px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.search-genre,
.search-composer,
.search-country,
.search-year{
  display: block;
  width: 200px;
  padding: 5px;
}

.year-input{
  width: 90%;
}

.search{
  display: flex;
  justify-content: center;
}

.search-piece-form{
  width: 90vw;
  display: flex;
  justify-content: center;
}

.side-form{
  margin-right: 10px;
  width: 250px;
}

.search-contents{
  padding: 0 0 10px 10px;
}

.search-composer,
.search-genre,
.search-country,
.search-year{
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

.toggle-content {
  display: none;
}

.category-name{
  font-weight: bold;
}

.main-form{
  background-color: white;
  width: 500px;
  height: 950px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.form-content{
  padding: 0 5px 8px 5px;
}

.quantity-label{
  display: inline-block; 
  padding-left: 5px;
  font-weight: bold;
}

.quantity-form, .min-times-form, .max-times-form{
  width: 80px
}

.search-piece-title{
  font-size: 32px;
  color: white;
  padding-left: 15px;
}

.search-piece-conditions{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  border: #3C0F0A;
}

.search-piece-condition{
  width: 50%;
  padding-top: 8px;
  height: 30px;
}

.search-button{
  display: flex;
  justify-content: center;
}

.search-button-content{
  background-color: rgb(0, 7, 14);
  height: 40px;
  width: 200px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}
/* 
.footer{
  background-color: #502e2b;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.footer-title{
  color: #E9E3DD;
  font-size: 12px;
} */


