/* .header{
  background-color: #502e2b;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-title{
  color: #E9E3DD;
  font-size: 36px;
} */


.result-title{
  color: white;
  font-size: 32px;
  padding-top: 80px;
  text-align: center;
}

.result-box{
  display: flex;
  justify-content: center;
}

table{
  color: rgb(0, 7, 14);
  width: 90vw;
  height: 800px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  padding: 10px;
  table-layout: fixed;
  border-radius: 5px;
}

.result-box tr{
  background-color: white;
  border-bottom: 1px solid rgb(0, 7, 14);
  height: 25px;
  margin-bottom: 5px;
}

.result-box th {
  width: 25px;
  text-align: center;
}

.piece-name-link{
  text-decoration: none;
  color: rgb(0, 7, 14);
}

.piece-name-link:hover{
  font-weight: 700;
}

.result-box td {
  border-right: 1px dotted rgb(0, 7, 14);
  padding: 10px;
}

.result-box th:first-child,
.result-box th:nth-child(2) {
  width: 150px;
  
}

.result-box table th:nth-child(n+3),
  .result-box table td:nth-child(n+3) {
    text-align: center;
  }

  .result-error-box{
    width: 30vw;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result-error-message{
    color: rgb(0, 7, 14);
  }

/* .footer{
  background-color: #502e2b;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.footer-title{
  color: #E9E3DD;
  font-size: 12px;
} */

