<div class='header'>
    <div class='title'><%= link_to 'ProgramCreator', root_path, class: "title" %></div>
    <div class="menu">
      <ul class="menu-lists">
        <li class="menu-list"><%= link_to 'LIST', pieces_path, class: "menu-list" %></li>
        <li class="menu-list"><%= link_to 'SEARCH', search_pieces_path, class: "menu-list" %></li>
        <li class="menu-list"><%= link_to 'MYPAGE', "#", class: "menu-list" %></li>
      </ul>
    </div>
  </div>